body {
    background-color: #fff;
    font-size:10;
    font-family:geneva;
    font-weight: lighter;
    color: #808080;
}
table {
    font-size:10;
    font-family:geneva;
    font-weight: lighter;
    font-stretch: ultra-condensed;
    word-spacing: 21px;
}
a:link { color: #808080; }
a:visited { color: #808080; }
a:active { color: #000; }
a:hover { color: #CCC; }
a { text-decoration: none }

.container {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
.navbar {
    vertical-align: top;
    position:relative;
    min-width: 116px;
    display:inline-block;
}
.navbar ul {
    list-style-type:none;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 14pt;
    padding: 0;
    padding-left: 12px;
    color: #808080;
    margin: 18px 0;
}

.navbar ul li {
    display: block;
    padding: 0;
}

.navbar a.active {
    color: #666;
}

.content {
    max-width: 1100px;
    width: 80%;
    vertical-align: top;
    padding-top: 9px;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14pt;
    text-align: center;
}

.gallery {
    display: block;
    width: 100%;
    max-width: 1100px;
    text-align: center;
}
.process.gallery img {
    max-width: 600px;
}
.gallery img {
    margin: 0 auto;
    width: inherit;
    max-width: 1100px
}
#slides div {
    width: 100%;
}

.contact {
    font-size: 22pt;
    /* padding-top: 30px; */
    /* padding-left: 63px; */
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 700px;
    padding: 0 200px;
    text-align: left;
}
.contact p {
    margin: 0 auto;
}

.process {
    margin: auto 0;
    text-align: center;
}
#slides {
    display:block;
    width: 100%;
}


.footer {
    color: #fff;
}
.footer a {
    color: #fff;
}

.slidesjs-pagination, #slidesjs-log {
    display:none;
}

.slidesjs-previous,.gallery .slick-prev {
    float: left;
}
.slidesjs-next,.gallery .slick-next {
    float: right;
}
.slidesjs-navigation,.gallery .slick-prev,.gallery .slick-next {
    margin-top: 0;
    top: 0;
    opacity: 0;
    background-color: white;
    position: absolute;
    width: 25%;
    color: white;
    z-index: 100;
    display: block;
    height: 100%;
}
.slidesjs-navigation:visited, .slidesjs-navigation:hover{
    color: white;
}
.slidesjs-navigation:hover,.gallery .slick-prev:hover,.gallery .slick-next:hover  {
    opacity: 0.5;
    cursor:pointer;
}

@media only screen and (max-width: 480px) {
    .logo { display:none }
    .content {
        display: block;
        float: none;
        width: 100%;
        max-width: 480px;
    }
    .content .gallery { max-width: 100%; }
    .navbar {
        display:block;
        float: none;
    }
    .navbar ul {
        margin: 0 0;

    }
}

/* remove borders on slideshow */
.gallery .slick-slide img {
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    transform: initial;
}