<html>
  <head>
    <title>indicategray.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  </head>

  <body>

    <div class="logo">
      <a href="/"><img src="INDICATEGRAY_logo_grayNEW.png"></a>
    </div>

    <div class="container">
      <div class="navbar">
        <ul>
          <li>
            <a href="contact.html" {{#isActive this.page.metadata "contact.html"}}class="active"{{/isActive}}>about</a>
          </li>
          <li><a href="process.html" {{#isActive this.page.metadata "process.html"}}class="active"{{/isActive}}>process</a></li>
          <li><a href="tearsheet.html" {{#isActive this.page.metadata "tearsheet.html"}}class="active"{{/isActive}}>tearsheet</a></li>
          <li><a href="index.html" {{#isActive this.page.metadata "index.html"}}class="active"{{/isActive}}>composite</a></li>
          <li><a href="object.html" {{#isActive this.page.metadata "object.html"}}class="active"{{/isActive}}>object</a></li>
          <li><a href="skin.html" {{#isActive this.page.metadata "skin.html"}}class="active"{{/isActive}}>skin</a></li>
        </ul>
      </div>

      <div class="content">
        {{{body}}}
      </div>
    </div>


    <p class="footer">Handcoded with love by <a href="http://evanlh.com">@evanlh</a></p>

    <script src="js/jquery-1.11.0.min.js"></script>
    <!-- <script src="js/jquery.slides.js"></script>  -->
    <script src="js/jquery.history.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

